<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OASTest</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Chart }
    )
    <script type="text/javascript">
        OPC_config =
            {
                token: '2d1288cf-5ac3-4851-b2bd-9c17e263dea5',
                serverURL: 'http://fieldvision.savageservices.com:58725',
                debug: true,
                watch_tags: [
                    "Trenton.Tank201BBLs.Value",
                    "Trenton.Tank202BBLs.Value",
                    "Trenton.Tank203BBLs.Value",
                    "Trenton.Tank204BBLs.Value",
                    "Trenton.Tank205BBLs.Value",
                    "TestPLC.LogicalMainSwitch.Value",
                    "TestPLC.MainSwitch.Value",
                    "TestPLC.TimerOnSetpoint.Value",
                    "TestPLC.TimerOffSetpoint.Value",
                    "TestPLC.TimerReset.Value",
                    "TestPLC.TimerStatus.Value",
                    "TestPLC.TimerValue.Value",
                    "TestPLC.LinePressure.Value",
                    "TestPLC.PumpStatus.Value",
                    "TestPLC.TimerOnCountdown.Value",
                    "TestPLC.TimerOffCountdown.Value"
                ],
                refresh_callback: update_data

            };

        $(document).ready(function () {
            //debugger;
            window.console.log("token: " + OPC.token);
            OPC.authenticate("OASWeb", "S4v4g3*18");
            if (OPC.token != OPC_config.token) {
                // the authentication token has been updated
                // you can now use the token for all subsequent pages within a session
                OPC_config.token = OPC.token;
            };

            $("#btnPowerOn").click(function () {
                OPC.set_value("TestPLC.LogicalMainSwitch.Value", "toggle");
            });
            $("#btnTimerReset").click(function () {
                OPC.set_value("TestPLC.TimerReset.Value", "toggle");
            })

        });


        //debugger;
        function update_data(data) {
            var clickMainSwitch = OPC.get_value("TestPLC.MainSwitch.Value");
            clickMainSwitch = (clickMainSwitch == "True") ? "On" : "Off";
            var clickLogSwitch = OPC.get_value("TestPLC.LogicalMainSwitch.Value");
            clickLogSwitch = (clickLogSwitch == "True") ? "On" : "Off";
            var clickTimerSetpoint = OPC.get_value("TestPLC.TimerOnSetpoint.Value");
            var clickTimerReset = OPC.get_value("TestPLC.TimerReset.Value");
            var clickTimerStatus = OPC.get_value("TestPLC.TimerStatus.Value");
            var clickTimerValue = OPC.get_value("TestPLC.TimerValue.Value");
            var clickLinePressure = OPC.get_value("TestPLC.LinePressure.Value");

            $("#mainButton").html(clickMainSwitch);
            $("#logicalButton").html(clickLogSwitch);
            $("#timerOnSetpoint").html(clickTimerSetpoint);
            $("#timerReset").html(clickTimerReset);
            $("#timerStatus").html(clickTimerStatus);
            $("#timerValue").html(clickTimerValue);
            $("#btnPowerOn").html("System: " + clickLogSwitch);
            $("#btnTimerReset").html("Reset Timer");
            //var tankHigh = tags.HighRange;

            //var tankLevel = tags.Trenton.Tank201BBLs.Value.val;
            //var tankHighLevel = tags.Trenton.Tank201BBLs.props.Value.HighLevel;
        }

    </script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">OASTest</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>
</body>

</html>