@model IEnumerable<OASTest.ViewModels.GaugeViewModel>
@{
    ViewBag.Title = "TankLevels";
}

@using (Html.BeginForm("TankLevels"))
{
    <div class="flex-container">
        @foreach (var tank in Model)
        {
            <div class="tankContainer">


                    <div class="tankGauge">
                        @(Html.DevExtreme().CircularGauge()
                    .ID(@tank.tagName)
                    .Scale(s => s
                        .StartValue(@tank.minValue)
                        .EndValue(@tank.maxValue)
                        )
                    .RangeContainer(c => c
                        .Offset(0)
                        .Ranges(r =>
                        {
                            r.Add().StartValue(@tank.minValue).EndValue((@tank.minValue + 5000)).Color("#FF0000");
                            r.Add().StartValue((@tank.maxValue - 5000)).EndValue(@tank.maxValue).Color("#FF0000");
                        })
                        .Width(15)
                        )
                    .Value(@tank.tagValue)
                    .Title(@tank.tagName)
                    .ValueIndicator(v => v
                        .Color("#FF1111")
                        .SpindleSize(20)
                        .SpindleGapSize(0)
                        .Type(GaugeIndicatorType.TriangleNeedle)
                        .Width(10)
                        )
                        )
                    </div>
                <div class="tankBG">
                    <img src="~/Content/img/Tank3 Gray.png" />

                </div>

            </div>

        }
    </div>
}

<div id="tank202Value" opc-tag-txt='{"tag":"Trenton.Tank202BBLs.Value"}'></div>

@Html.Action("_tankChart")
